<h1>Add your favourite car!</h1>

<%= form_for @car do |f| %>
  <p>
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </p>

  <p>
    <%= f.submit "ADD YOUR CAR" %>
  </p>

<% end %>
